# Node modules
node_modules/
client/node_modules/
Server/node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production

# Build directories
client/dist/
client/.vite/
client/build/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem