
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(98, 95, 95);
  height: 90vh;
  gap: 4px;
}

.headerimg {
  width: 155px;
  height: 165px;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.handwave {
  width: 40px;
}

.para {
  text-align: center;
}

.started {
  border: 2px solid rgb(61, 58, 58);
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 110px;
  height: 40px;
  cursor: pointer;
}

.started:hover {
  background-color: silver;
  color: white;
  border-color: silver;
}
